<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:friends, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:friends, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:friends, :edit, :id => @friend.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :friend, url(:friends, :update, :id => @friend.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'friends/form', :locals => { :f => f } %>
  <% end %>
</div>
